{% extends 'base.html' %}

{% from 'macros/back_to_blog.html' import back_to_main_page %}

{% block title %}
Add new post
{% endblock %}

{% block body %}
<div class="container wrapper flex-grow-1">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="container wrapper flex-grow-1">
      <div class="card">
        <div class="card-body">
          <div>
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
          </div>
          <div>
            {{ form.pre_post.label(class="form-label") }}
            {{ form.pre_post(class="form-control") }}
          </div>
          <div>
            {{ form.post.label(class="form-label") }}
            {{ form.post(class="form-control") }}
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <input type="submit" value="Submit" class="btn btn-primary">
          {{ back_to_main_page() }}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}